body {
  background-image: url("https://media.istockphoto.com/id/683789530/vector/space-flat-cute-vector-background.jpg?s=170667a&w=0&k=20&c=5BUp383olVnyepQswBu3tx2yCtaIcbWG0kyZ2UTR4a4=");
}
table {
  text-align: center;
}
img {
  width: 260px;
  height: 260px;
  border-radius: 25%;
}
th {
  border: 5px solid;
  font-weight: bold;
  font-family: "Tilt Warp", cursive;
  color: deepskyblue;

  border-color: khaki;
  border-style: double;
  font-size: x-large;
  text-align: center;
}
td {
border: 5px solid;
  font-weight: bold;
  font-family: "Tilt Warp", cursive;
  color: deepskyblue;

  border-color: indigo;
  border-style: outset;
  font-size: x-large;
  text-align: center;
}
h1 {
  text-align: left;
  color: blueviolet;
  font-weight: bolder;
  font-family: "Tilt Warp", cursive;
}
td:nth-child(odd){
  border-style: double;
  border-color: orangered;
}
td:nth-child(even){
  border-style: outset;
  border-color: indigo;
}



