body {
  background-image: url("https://media.istockphoto.com/id/683789530/vector/space-flat-cute-vector-background.jpg?s=170667a&w=0&k=20&c=5BUp383olVnyepQswBu3tx2yCtaIcbWG0kyZ2UTR4a4=");
}
table {
  text-align: center;
}
img {
  width: 260px;
  height: 260px;
  border-radius: 25%;
}

